.background-c{
    background-color: rgb(222, 235, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
}

.heads{
    text-align: center;
    margin: 20px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.card-d{
    width: 250px;
    height: 237px;
    border: 1px solid rgb(131, 150, 150);
    border-radius: 15px;
    margin: 10px;
    box-shadow: 10px 1px 10px 5px rgb(86, 104, 121);
}

.headers{
    background-color: rgb(128, 114, 250);
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50px;
    padding: 10px;
}

.middles{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-weight: 500;
    
}

.footers{
    height: 50px;
    padding: 10px;
    background-color: rgb(128, 114, 250);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}